<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"app-name":"${app_name}", "category":"application"}</customFields>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="logstash"/>
    </root>

    <logger name="com.slutedemoserver" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="logstash"/>
    </logger>

</configuration>
